[submodule "BBCSDL"]
	path = BBCSDL
	url = https://github.com/rtrussell/BBCSDL.git
	branch = master
[submodule "pico-filesystem"]
	path = pico-filesystem
	url = https://github.com/Memotech-Bill/pico-filesystem.git
